@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "_common";

:root {
  --color-text: #FFFFFF;
  --color-background: #2B2B2B;
  --color-main: #A259FF;
  --font-main: "Work Sans";
  --font-other: "Space Mono";
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  color: var(--color-text);
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th, td {
  margin: 0; 
  padding: 0;
  border: none;  
  text-align: left;
}

input {
  border: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: var(--color-text);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  gap: 12px;
  background: var(--color-main);
  border: 0px;

  span {
    color: var(--color-text);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }

  img {
    width: 20px;
    height: 20px;
  }

  &--trans-main {
    @extend .trans;
  }

  &--trans-other {
    transition: all 0.3s ease;

    &:hover {
      transform: scale(0.95);
      transform-origin: center;
    }
  }

}

.container {
  max-width: 1050px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1200px) {
  .container{
    max-width: 690px;
  }
}


@media (max-width: 840px) { 
  .container{
    max-width: 315px;
  }
}





/*begin nav*/
.navigation {
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 243.414px;
    height: 32px;
  }

  &__img-name {
    width: 199.414px;
    height: 19.8px;
    flex-shrink: 0;

    img {
      position: relative;
      top: 3px;
    }
  }

  &__img-logo {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }

  &__icon-responsive {
    display: none;
  }

  &__item {
    display: flex;
    height: 46px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  &__link {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    @extend .trans;
  }

  &__button {
    padding: 0px 30px;
  }
}

/*end nav*/

/*begin footer*/
.footer {
  padding: 40px 0;
  background-color: #3B3B3B;
  margin-bottom: 25px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__wrap-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__NTF-marketplace {
    display: flex;
    width: 327.414px;
    padding-right: 84px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  &__logo {
    @extend .navigation__logo;
  }

  &__img-name {
    @extend .navigation__img-name;
  }

  &__additional-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #cccccc;
  }

  &__comunity-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  &__social-media {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }

  &__explore {
    display: flex;
    width: 240px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }

  h5 {
    font-family: var(--font-other);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-transform: capitalize;
  }

  &__pages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  &__subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;

    p {
      width: 330px;
    }
  }

  &__wrap-info-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  &__form-sub {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #ffff;

    input {
      padding: 16px 20px;
      border-radius: 20px;
      height: 60px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      color: #2B2B2B;
      background: #ffff;
    }

    button {
      padding: 0 50px;
    }
  }

  &__frame-end {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    p {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 110%;
    }
  }

  &__divider {
    background: #858584;
    width: 100%;
    height: 1px;
  }
}

/*end footer*/

/*responsive*/
@media (max-width: 1200px) {

  /*begin navigation*/
  .navigation {
    padding: 15px 50px;

    &__list {
      display: none;
    }

    &__icon-responsive {
      display: block;
    }

    &__img-logo {
      width: 24px;
      height: 24px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__img-name {
      width: 149.56px;
      height: 14.85px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  /*end navigation*/

  /*begin footer*/
  .footer {
    &__wrapper {
      gap: 49px;
      align-items: flex-start;
    }

    &__NTF-marketplace{
      gap: 20px;
      width: 100%;
    }

    &__wrap-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }

    &__wrap-info-form{
      p{
        width: 100%;
      }
    }
  }

  /*end footer*/
}

@media (max-width: 840px) {

  /*begin navigation*/
  .navigation {
    padding: 15px 30px;
  }
  /*end navigation*/
  
  /*begin footer*/
  .footer {

    &__form-sub {
      width: 315px;
      flex-direction: column;
      align-items: flex-start;
      background-color: #3B3B3B;
      gap: 16px;
      input{
        width: 100%;
        height: 46px;
      }
      button{
        width: 100%;
        height: 46px;
      }
    }

  }
  /*end footer*/

}

/*end responsive*/